{
  "FAST_API": {
    "FAST_API_URL": "0.0.0.0",
    "FAST_API_PORT": 9002
  },
  "MONGOD_DB": {
    "MONGO_URL": "mongodb://localhost:27017/"
  },
  "RATE_LIMIT": {
    "RATE_LIMIT1": "10/minute",
    "RATE_LIMIT2": "1/minute"
  },
  "AWARD_SYSTEM": {
    "FEE": "18%",
    "DELEGATE_REWARD": "82%"
  },
  "URLS": {
    "API_URL": "https://api.upow.ai",
    "NODE_URL": "https://api.upow.ai",
    "config_3": "value_3"
  },
  "TIME": {
    "CHECK_INTERVAL": 180,
    "PUSH_TX": 60,
    "PING_TIME": 60,
    "VALIDATE_TASK": 60
  },
  "VALIDATOR_SOCKET": {
    "SERVER_IP": "0.0.0.0",
    "IP": "0.0.0.0",
    "PORT": "4402"
  },
  "ENDPOINT": {
    "VALIDATOR_URL": "http://0.0.0.0:9002"
  },
  "INODE_INFO": {
    "INODE_IP": "0.0.0.0",
    "INODE_PORT": 4401,
    "POOL_URL": "http://0.0.0.0:9001/pools"
  },
  "VALIDATOR_WALLETS": {
    "VAL_ADDRESS": "VAL_ADDRESS",
    "VAL_REWARD_ADDRESS": "VAL_REWARD_ADDRESS"
  },
  "REWARD_TRACKING": {
    "BLOCK_HEIGHT": 207000
  },
  "MAX_CONCURRENT": {
    "POOLS": 1500
  }
}
